alembic==1.13.3
fastapi==0.115.0
firebase-admin
passlib[bcrypt]
bcrypt==4.0.1
pillow
psycopg[binary]
pydantic
python-dotenv
python-jose
python-multipart
sqlalchemy==2.0.35
ultralytics
ultralytics-thop
uvicorn[standard]
google-genai
apscheduler